<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yoga - Seva : Perfect your Yoga</title>
    <link rel="stylesheet" href="/css/style.css">
    <!<script async src="https://www.googletagmanager.com/gtag/js?id=UA-178448067-1">
        <!< /script>
            <!<script>
                <!window.dataLayer=window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new
                    Date()); gtag('config', 'UA-178448067-1' ); </script>
</head>

<body>
    <div class="top-container">
        <h1>Yoga - Seva : Perfect your Yoga</h1>
        <h2>Portal to track your Yoga progress</h2>
        <h4>Mihir Nikam, Rushil Patel, Ameya Ranade</h4>
    </div>
    <div class="options-container">
        <img src="/img/yoga-titlepage.jpeg" class="yoga-title" alt="yoga-title-page">
        <a href="pickPose.html" class="button">Choose Pose</a>
        <a href="about.html" class="button">About us</a>
        <a href="reports.html" class="button">Previous reports</a>

    </div>
</body>
</html>